In [ ]:
import numpy as np
import pandas as pd

scores = pd.DataFrame(np.random.randint(50,101,size=(50,5)),
             columns=['國文','英文','數學','地理','歷史'],
             index=range(1,51))
scores

In [ ]:
scores.apply(lambda item:print(item))

In [ ]:
def abc(s):
    return s
scores.apply(abc)

In [4]:
def abc(s):
    return s.max()
scores.apply(abc)

國文     99
英文    100
數學     99
地理    100
歷史    100
dtype: int64

In [5]:
def abc(s):
    return pd.Series([s.min(),s.max(),s.mean()],index=['最低分','最高分','平均分'])
scores.apply(abc)

        國文      英文     數學      地理      歷史
最低分  51.00   50.00  53.00   50.00   51.00
最高分  99.00  100.00  99.00  100.00  100.00
平均分  77.34   78.06  72.24   74.16   73.68

In [ ]:

scores.index = scores.index.map(lambda i:f'{i}號')
scores

In [ ]:
def abc1(item):
    print(item)
scores.apply(abc1,axis=1)

In [ ]:
def abc1(item):
    return pd.Series([item.sum(),item.mean()],index=['總分','平均'])
scores.apply(abc1,axis=1)

In [10]:
one_student = scores.iloc[0]
less_student = one_student[one_student < 60]
less_student

數學    57
地理    58
Name: 1號, dtype: int64

In [15]:
less_student.count()
",".join(less_student.index.values.tolist())

'數學,地理'

In [19]:
def abc1(item):
    less_student = item[item < 60]
    less_count = less_student.count()
    less_str = ','.join(less_student.index.values.tolist())

    return pd.Series([item.sum(),item.mean(),less_count,less_str],index=['總分','平均','不及格科目數','不及格科目'])
scores.apply(abc1,axis=1)

      總分    平均  不及格科目數        不及格科目
1號   382  76.4       2        數學,地理
2號   408  81.6       1           數學
3號   346  69.2       2        國文,歷史
4號   402  80.4       0
5號   390  78.0       0
6號   347  69.4       2        地理,歷史
7號   351  70.2       1           地理
8號   356  71.2       0
9號   369  73.8       1           國文
10號  323  64.6       2        英文,歷史
11號  394  78.8       1           歷史
12號  383  76.6       1           歷史
13號  382  76.4       0
14號  366  73.2       1           歷史
15號  346  69.2       1           地理
16號  421  84.2       0
17號  463  92.6       0
18號  393  78.6       1           地理
19號  418  83.6       0
20號  310  62.0       3     英文,地理,歷史
21號  417  83.4       1           數學
22號  372  74.4       0
23號  364  72.8       1           地理
24號  364  72.8       1           國文
25號  378  75.6       2        國文,英文
26號  376  75.2       1           數學
27號  427  85.4       0
28號  383  76.6       0
29號  389  77.8       1           英文
30號  336  67.2       3     國文,數學,歷史
31號  353  70.6       1           國文
32號  373  74.6       1           歷史
33號  382  76.4       1           地理
34號  387  77.4       1           數學
35號  391  78.2       0
36號  351  70.2       1           歷史
37號  332  66.4       2        英文,歷史
38號  321  64.2       4  國文,數學,地理,歷史
39號  383  76.6       1           歷史
40號  380  76.0       1           歷史
41號  386  77.2       1           地理
42號  430  86.0       0
43號  306  61.2       4  國文,數學,地理,歷史
44號  336  67.2       1           數學
45號  408  81.6       0
46號  431  86.2       0
47號  375  75.0       1           數學
48號  407  81.4       2        國文,數學
49號  359  71.8       1           國文
50號  327  65.4       1           英文